<!-- Why Choose Us -->
<div class="why-choose-us container-fluid no-padding">
    <div class="section-padding"></div>
    <!-- Container -->
    <div class="container">
        <!-- Section Header -->
        <div class="section-header">
            <h3>Fundación Save Our Pets</h3>
            <p style="font-size:21px;">Un hogar de mascotas desamparadas en El Salvador.</p>
            <hr />
            <h3>QUIÉNES SOMOS</h3>
            <p style="font-size:20px;">
                Fundación Save Our Pets es un hogar de mascotas desamparadas que inicio de un grupo familiar,
                que por sus propios medios y recursos se dedico a realizar el rescate de animales,
                la cual debido a la sobre población animal en necesidad se tomo la iniciativa de agrandar el proyecto,
                creando la fundación de manera formal, con la creación de un refugio y administración para su sostenimiento,
                iniciando con una población de 15 perros y 15 gatos, que a medida avanzo el proyecto hoy en día permite albergar
                una cantidad de 250 animales, por el momento no cuenta con ayuda de gobierno, ni de ninguna empresa o institución,
                su manutención sale de personas caritativas que ayudan a la causa, eventos, y actividades de recaudación, teniendo
                recursos limitados por lo que los rescates se manejan en equilibrio, manejando los mismos números de ingresos como
                de salidas, para poder trabajar de una manera organizada y no desatender a los ya albergados, cuenta con dos hogares
                privados no eutanásicos, en donde se les rehabilita, para luego ser dados en adopción a familias responsables
                exclusivamente, por medio de procedimientos selectivos, investigativos y de control de adopciones, dándoles un
                seguimiento a cada adopción.
            </p>
        </div><!-- Section Header /- -->
        <!--Créditos-->
        <!-- Team -->
        @*
        <div class="team team2 container-fluid no-padding">
            <div class="section-padding"></div>
            <!-- Container -->
            <div class="container">
                <div class="section-header">
                    <h3>Créditos</h3>
                    <p style="font-size: 20px;">
                        Damos las gracias correspondientes por ayudar a crear este sitio web, a la
                        Universidad Don Bosco y a sus alumnos de Ingeniería en Ciencias de la Computación por
                        realizarlo como proyecto para la matería de Programación Orientada a Objetos
                    </p>
                </div>
                <div class="row">
                    <div class="team-thumb">
                        <div class="col-md-12">
                            <div class="team-member">
                                <div class="team-image-box">
                                    <img src="~/Content/images/team/logo_udb.png" alt="Team Member" />
                                    <div class="team-content"><h3>Universidad Don Bosco</h3></div>
                                </div>
                                <div class="team-social-icon">
                                    <ul class="list-inline">
                                        <li><a href="https://twitter.com/UDBelsalvador"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.facebook.com/UDBelsalvador/"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="http://www.udb.edu.sv/"><i class="fa fa-globe"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="team-member">
                                <div class="team-image-box">
                                    <img src="~/Content/images/team/team-member-3.jpg" alt="Team Member" />
                                    <div class="team-content"><h3>Wilfredo Acosta<span style="text-transform: uppercase;">Estudiante UDB</span></h3></div>
                                </div>
                                <div class="team-social-icon">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="team-member">
                                <div class="team-image-box">
                                    <img src="~/Content/images/team/team-member-2.jpg" alt="Team Member" />
                                    <div class="team-content"><h3>Julio García<span style="text-transform: uppercase;">Estudiante UDB</span></h3></div>
                                </div>
                                <div class="team-social-icon">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="team-member">
                                <div class="team-image-box">
                                    <img src="~/Content/images/team/team-member-3.jpg" alt="Team Member" />
                                    <div class="team-content"><h3>Willian Grande<span style="text-transform: uppercase;">Estudiante UDB</span></h3></div>
                                </div>
                                <div class="team-social-icon">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="team-member">
                                <div class="team-image-box">
                                    <img src="~/Content/images/team/team-member-4.jpg" alt="Team Member" />
                                    <div class="team-content"><h3>Bryan Marroquín<span style="text-transform: uppercase;">Estudiante UDB</span></h3></div>
                                </div>
                                <div class="team-social-icon">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="team-member">
                                <div class="team-image-box">
                                    <img src="~/Content/images/team/team-member-3.jpg" alt="Team Member" />
                                    <div class="team-content"><h3>Roberto Meléndez<span style="text-transform: uppercase;">Estudiante UDB</span></h3></div>
                                </div>
                                <div class="team-social-icon">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- Container /- -->
        </div>*@
        <!-- Team /- -->
        <!--/ Créditos-->


    </div><!-- Container /- -->
    
</div><!-- Why Choose Us /- -->


