<!-- Photo Slider -->
<div id="photo-slider" class="photo-slider container-fluid no-padding">
    <!-- Main Carousel -->
    <div id="main-slider" class="carousel slide carousel-fade col-offset-2" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Content/images/slider-image/anoir-chafik-2_3c4dIFYFU-unsplash.jpg" alt="slider-1" />
                <div class="slider-content">
                    <div class="container">
                        <div class="slide-content slide-content-1">
                            <h2 style="color:white;">Fundación Save Our Pets</h2>
                            <h3>
                                Cuidando a las mascotas <span>desamparadas</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/images/slider-image/madeline-bowen-O3L9n7_QI70-unsplash.jpg" alt="slider-2" />
                <div class="slider-content">
                    <div class="container">
                        <div class="slide-content slide-content-2">
                            <h3>Fundación Save Our Pets</h3>
                            <h2 style="color:white;">Rescatando <span>mascotas desamparadas</span></h2>

                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/images/slider-image/destiny-wiens-oHm8scWafA0-unsplash.jpg" alt="slider-3" />
                <div class="slider-content">
                    <div class="container">
                        <div class="slide-content slide-content-3">
                            <h2 style="color:white;">Fundación Save Our Pets</h2>
                            <p style="color:white;">Ayuda a nuestra lucha, donando o reportando mascotas desamparadas </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Main Carousel /-  -->
</div><!-- Photo Slider /- -->
<!-- Intro -->
<div id="intro" class="intro container-fluid no-padding">
    <div class="section-padding"></div>
    <!-- Container -->
    <div class="container">
        <!-- Section Header -->
        <div class="section-header">
            <h3>¿Qué hacemos?</h3>
            <p>
                Nos dedicamos a realizar el rescate, cuidado y protección de animales desamparados para luego brindarlos
                en adopción a personas que prometan cuidarlos
            </p>
        </div><!-- Section Header /- -->
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="pet-images bgcolor-default">
                    <img src="~/Content/images/intro/jamie-street-s9tf1ebdfqw-unspl.jpg" alt="intro-1">
                    <div class="content-box">
                        <h3>RESCATE <span>Animal</span><i><img src="~/Content/images/icon/intro-icon-1.png" alt="Intro Icon" /></i></h3>
                        <p>Ayúdanos a rescatar mascotas en la calle por tu reporte y así brindarle el amor que necesita  </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pet-images bgcolor-green">
                    <img src="~/Content/images/intro/adam-griffith-swkkiitjmyc-unsp.jpg" alt="intro-2">
                    <div class="content-box">
                        <h3>CUIDADO<span>Animal</span><i><img src="~/Content/images/icon/intro-icon-2.png" alt="Intro Icon" /></i></h3>
                        <p>Nos encargamos de proteger a toda mascota que rescatamos, gracias a tus reportes y donaciones para mantenerlos con un cuidado continuo.  </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pet-images bgcolor-yellow">
                    <img src="~/Content/images/intro/alvan-nee-lvflpqevurm-unspl.jpg" alt="intro-3">
                    <div class="content-box">
                        <h3>ADOPTA<span>una mascota de nuestro albergue</span><i><img src="~/Content/images/icon/intro-icon-3.png" alt="Intro Icon" /></i></h3>
                        <p>Para así brindarle el amor que toda mascota debe sentir por parte de una familia &hearts;  </p>

                    </div>
                </div>
            </div>
        </div>
    </div><!-- Container /- -->
    <div class="section-padding"></div>
</div><!-- Intro /- -->
<!-- Services -->
<div id="services" class="services container-fluid no-padding">
    <div class="section-padding"></div>
    <!-- Container -->
    <div class="container">
        <!-- Section Header -->
        <div class="section-header">
            <h3>¿Cómo ayudar?</h3>
            <p>Hay diferentes formas de ayudar a nuestra organización:</p>
        </div><!-- Section Header /- -->
        <div class="service-tab col-md-9 no-padding">
            <div class="col-md-4 col-sm-5 no-padding">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active" role="presentation">
                        <a data-toggle="tab" role="tab" aria-controls="tab-one" href="#tab-one" aria-expanded="true"><i><img src="~/Content/images/icon/nutrition.png" alt="nutrition"></i>Alimentos</a>
                    </li>
                    <li class="" role="presentation">
                        <a data-toggle="tab" role="tab" aria-controls="tab-two" href="#tab-two" aria-expanded="false"><i><img src="~/Content/images/icon/care.png" alt="care"></i>Medicinas</a>
                    </li>
                    <li class="" role="presentation">
                        <a data-toggle="tab" role="tab" aria-controls="tab-three" href="#tab-three" aria-expanded="false"><i><img src="~/Content/images/icon/insurance.png" alt="insurance"></i>Voluntariado</a>
                    </li>
                    <li class="" role="presentation">
                        <a data-toggle="tab" role="tab" aria-controls="tab-four" href="#tab-four" aria-expanded="false"><i><img src="~/Content/images/icon/care.png" alt="care"></i>Insumos de limpieza</a>
                    </li>
                    <li class="" role="presentation">
                        <a data-toggle="tab" role="tab" aria-controls="tab-five" href="#tab-five" aria-expanded="false"><i><img src="~/Content/images/icon/insurance.png" alt="insurance"></i>Donaciones</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content col-md-8 col-sm-7 no-padding">
                <div id="tab-one" class="tab-pane active" role="tabpanel">
                    <div class="tab-box">
                        <p>Puedes ayudarnos donando alimentos como:</p>
                        <p>
                            <b>Alimento de Perro:</b> Pet Master, Dogui, Dog Chow<br />
                            <b>Alimento de Gato:</b>  Gati, Wishkas, Cat Chow<br />
                            <b>Alimento en Latas:</b> Alpo, Dog Chow, Pedigree<br />
                            <b>Alimento Especial:</b> Eukanuba Small Breed Petite Rice, Eukanuba Senior, Eukanuba Control Weight, Science Diet h/d, I/d,K/d, a/d, z/d
                        </p>

                    </div>
                </div>
                <div id="tab-two" class="tab-pane" role="tabpanel">
                    <div class="tab-box">
                        <p>Donando medicinas para mantener saludables a los animalitos:</p>
                        <p>
                            Desparasitantes, vitaminas, antibióticos,alcohol,
                            agua oxigenada, jabón yodado, gasas,
                            vendas, pipetas, amitraz, dolfen, ketoprofeno,
                            antirrábicas, sextuples, suero hartman, suero dextrosa,
                            catéteres, sondas, hilos para cirugía,
                            spray cicatrizantes, spray esterilizadores
                        </p>
                    </div>
                </div>
                <div id="tab-three" class="tab-pane" role="tabpanel">
                    <div class="tab-box">
                        <p>Paseos todos los sabados 10 AM en el refugio de rehabilitación en Col. Layco, punto de reunión atrás de Vidri San Miguelito. Los eventos son según programación.</p>
                    </div>
                </div>
                <div id="tab-four" class="tab-pane" role="tabpanel">
                    <div class="tab-box">
                        <p>Donando insumos de limpieza, fundamentales para tener limpio el hogar de las mascotas</p>
                        <p>
                            Desinfectantes<br />
                            Lejía<br />
                            Shampoo<br />
                            Jabón de azufre<br />
                            Escobas<br />
                            Saca aguas<br />
                            Bolsa grandes y medianas<br />
                            Basureros<br />
                            Cubetas para agua
                        </p>
                    </div>
                </div>
                <div id="tab-five" class="tab-pane" role="tabpanel">
                    <div class="tab-box">
                        <p>Realizando una pequeña donación para que podamos seguir cuidando de estos animalitos por medio de los siguientes medios:</p>

                        <img src="~/Content/images/icon/visa-master-card.png" />
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Container /- -->
    <div class="right-image"><img src="~/Content/images/services/markus-winkler-PcKhVNNyEio-unsplash.jpg" alt="Service"></div>
    <div class="section-padding"></div>
</div><!-- Services /- -->
